.nav {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.nav > a {
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  padding: 12px 16px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: #333;
  border: 1px solid #eaeaea;
  transition: all 0.125s ease;
}

.nav > a:hover {
  background-color: #eaeaea;
}

.navbar {
  background-color: 'teal';
}
