body {
  margin: 0;
  background-color: #eaeaea;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
    background-color: #eaeaea;
  }
}
